[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
python-jose = {extras = ["cryptography"], version = "*"}
requests = "*"
httpx = "*"
elasticsearch = "*"
pandas = "*"
numpy = "*"
regex = "*"
redis = "*"
pika = "*"

[requires]
python_version = "3.11"
