[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
pytest = "*"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"
pydantic = {extras = ["email"], version = "*"}
psycopg2-binary = "*"
sqlalchemy = "*"
alembic = "*"
email-validator = "*"

[requires]
python_version = "3.11"